@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: #111827;
}

.text-gradient_light {
  background: linear-gradient(90deg, #455be7 2.34%, #653bce 100.78%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
